.container{
    width: fit-content;
    margin: auto;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin-top: 25vh;
}
input{
    outline:0px;
    padding-left:10px;
    width: 80%;
    margin-left: 10%;
    height: 35px;
    font-size:20px;
    border-radius: 5px;
}
.enter-button{
    background-color:rgb(240, 184, 1);
    color: white;
    font-size:18px;
    padding:10px;
    border:0;
    border-radius:6px;
    display: block;
    margin: auto;
    margin-top: 15px;
}

.main-container{
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #04396d;
}